.flex_blue_content{
   font-family: impact, haettnschwiler,'Ariaal narrwo';
   display: inline-flex;
   justify-content: blue;
   padding: 30px 150px 120px;
   color: #ffff;
   background-color: blue;
}
.list-items{
   padding-right: 10px;
   margin-right: 20px;
   
}
.list_items h4{
   font-style: italic;
   
   
}
.subheading1 ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.subheading1 h4{
   font-style: italic;

}