body{
   margin-left: 100px;
   margin-right: 100px;
   font-family: Space Grotesk;
   font-size: 18px;
   background-color: #FAFAFA;
}
.paragraph1 h4{
   font-size: 2.6em;
   color: #2549D3;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid  #FAFAFA;
   padding-top: 10px;
   padding-bottom: 10px;
   
}
nav ul li{
   list-style: none;
   display: inline;
   padding: 10px;
}
button{
   height: 40px;
   background-color: #2549D3;
   color: #ffffff;
   border: none;
   border-radius: 7px;
   padding-left: 10px;
   padding-right: 10px;
}
.paragraph1{
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   margin-bottom: 50px;
}
.paragraph1 .text{
   width: 50%;
}
.paragraph1 .image-hotelswimming{
   width: 50%;

}
.flex_blue_content{
   font-family: impact, haettnschwiler,'Ariaal narrwo';
   display: inline-flex;
   justify-content: blue;
   padding: 30px 150px 120px;
   color: #ffff;
   background-color: blue;
}
.paragraph1 .button26 button{
   height: 40px;
   background-color: #2549D3;
   color: #ffffff;
   border: none;
   border-radius: 7px;
   padding-left: 10px;
   padding-right: 10px;
}
#play_button{
   color: #2549D3;
   background-color: #ffffff;
   border: none;
   font-size: 35px;
   padding: 0;
}
.paragraph1 .button26{
   display: flex;
   align-items: center;
   column-gap: 20px;
   width: 20%;
}
.text_card{
   width: 90%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #ffffff;
   box-shadow: 6px 6px 10px rgba(19, 19, 19, 0.2);
   padding: 40px; 
   border-radius: 20px;
   
}
.text_card .heading{
   color: #2549D3;
   margin-bottom: 10px;
}
.products .header{
   text-align: center;
}
.products h3{
   color: #2549D3;
}
.flex_cards{
   display: flex;
   justify-content: space-between;
}
.flex_cards .card{
   width: 30%;
   background-color: #ffffff;
   text-align: center;
}
.paragraph1 h3{
   font-size: 2.6em;
   color: #2549D3;
}
.header_2{
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
   margin-bottom: 50px;
}
<<<<<<< HEAD
.paragraph2{
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   margin-bottom: 50px;
}
.paragraph2 h3{
   font-size: 2.6em;
   color: #2549D3;
   margin-top: 50px;
   margin-left: 0px;
  
}
.paragraph2 .image-hotelswimming{
   width: 50%;

}
.paragraph2 p{
   width: 50%;
   margin-left: 10px;
   align-content: center;
   
}
.paragraph2 ul{
   justify-content: space-between;
   margin-left: 40px;
   font-size: large;
   display: flex;
}


/* .list-items{
   padding-right: 10px;
   margin-right: 20px;
   
}
.list_items h4{
   font-style: italic;
   
   
}
.subheading1 ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.subheading1 h4{
   font-style: italic;

}
.subheading1 button{
   display: inline-flex;
   background-color: blue;
   padding: 5px 5px 5px;
   font-weight: bolder;
   font-family: #ffffff;
   position: relative;
   justify-content: space-between;
   font-size: 8pt;
   font-family: tahoma;
   margin-top: 70px;
   margin-left: 100px;
   position:absolute;
   top:0;
   right:0;
}
p{
   font-family: 'Space Gresk', 'Oleo Script';
   font-size: larger;
   

}
.paragraph1 h4{
   display: flex;
   font-size: xx-large;
   color: blue;
}
.image-hotelswimming{
   margin-left: 700px;
   margin-bottom: 0px;
   margin-top: -100px;

} */

/* Choose us Section style */
.prime-conta{
   display: flex;
   justify-content: space-betweengit;
}
.first-elements{
   display: flex;
}
=======
>>>>>>> gh-pages
